.box{
    display: flex;
    flex-direction: row;
    align-items: flex-end ;
    justify-content: flex-end;
}
.links{
    display: flex;
    padding-top: 5px;
    padding-left: 30px;
}
.greeting{
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 500px;
    margin-bottom: 200px;
    padding: 20px;
    border: 5px solid black;
}